<footer class="main-footer">
    <div class="footer-container mini-wrapper">
        <div class="footer-info">
            <!------ Logo ------>
            <div class="footer-logo">
                <div class="logo-img">
                    <a href="#">
                        <img src="img/logo2.svg" alt="Company logo">
                    </a>
                </div>
                <p>&copy; 2021 CodeImpact B.V. <br> All rights reserved</p>
            </div>
            <!------ Top Blog Posts ------>
            <div class="footer-blog-posts">
                <h4>TOP BLOG POSTS</h4>
                <ul class="footer-blog-posts__list">   
                    <li>
                        <a href="#">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Consectetur adipiscing elit</a>
                    </li>
                    <li>
                        <a href="#">Quis nostrud exercitation ullamco laboris nisi</a>
                    </li>
                    <li>
                        <a href="#">Duis aute irure dolor in reprehenderit </a>
                    </li>
                </ul>
            </div> 
            <!------ Services ------>
            <div class="footer-services">
                <h4>Services</h4>
                <ul class="footer-services__list">
                    <li>Software testing</li>
                    <li>Web app & Software Development</li>
                    <li>Create/manage your infra</li>
                    <li>Professional at location</li>
                    <li>Mobile development</li>
                </ul>
            </div>
            <!------ Follow Us------>
            <div class="footer-followus">
                <h4>Follow us</h4>
                <ul class="footer-followus__list">
                    <li>
                        <a href="#" target="_blank">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>Youtube</span>
                        </a>
                    </li>
                </ul>                
            </div>
            <!------ Newsletter ------>
            <div class="footer-newsletter">
                <h4>Newsletter</h4>
                <p>Receive our newsletter about new <br> technologies and jobs in your area</p>
                <div class="footer-newsletter__form">
                    <form action="#">
                        <input type="email" placeholder="Email address">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy statement</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </div>
    </div>
</footer>