<footer class="main-footer">
    <div class="footer-container mini-wrapper">
        <div class="footer-info">
            <!------ Logo ------>
            <div class="logo">
                <div id="logo-bottom">
                    <a href="https://codeimpact.nl/en" id="logo-footer">
                        <img src="https://codeimpact.nl/app/uploads/2019/09/logo-full-white.png" alt="Company logo" title="Home">
                    </a>
                </div>
                <p>&copy; 2021 CodeImpact B.V. <br> All rights reserved</p>
            </div>
            <!------ Top Blog Posts ------>
            <div class="common-links">
                <ul id="menu-footer-menu" class="list">
                    <li><strong class="title-list">Categories</strong></li>
                    <li class="nav-item menu-item menu-recruitment">
                        <a class="nav-link" href="https://codeimpact.nl/en/services/recruitment/">Recruitment</a>
                    </li>
                    <li class="nav-item menu-item menu-web-and-app-development">
                        <a class="nav-link" href="https://codeimpact.nl/en/services/web-and-app-development/">Web and app development</a>
                    </li>
                    <li class="nav-item menu-item menu-team">
                        <a class="nav-link" href="https://codeimpact.nl/en/team/">Team</a>
                    </li>
                    <li class="nav-item menu-item menu-contact">
                        <a class="nav-link" href="https://codeimpact.nl/en/contact/">Contact</a>
                    </li>
                </ul>
            </div> 
            <!------ Services ------>
            <div>
                <ul class="list">
                    <li><strong class="title-list">Frameworks</strong></li>
                    <li><span>Symfony</span></li>
                    <li><span>Spring</span></li>
                    <li><span>Laravel</span></li>
                    <li><span>YII</span></li>
                    <li><span>Codeignitor</span></li>
                </ul>
            </div>
            <!------ Follow Us------>
            <div>
                <ul class="list">
                    <li><strong class="title-list">Follow us</strong></li>
                                        <li>
            <a href="https://www.facebook.com/CodeImpact" target="_blank">
                <i class="fab fa-facebook-square"></i>                                    <span>Facebook</span>
                            </a>
            <span></span></li>
                    <li>
            <a href="https://www.linkedin.com/company/codeimpact" target="_blank">
                <i class="fab fa-linkedin"></i>                                    <span>Linkedin</span>
                            </a>
            <span></span></li>
                    <li>
            <a href="https://twitter.com/code_impact" target="_blank">
                <i class="fab fa-twitter-square"></i>                                    <span>Twitter</span>
                            </a>
            <span></span></li>
                    <li>
            <a href="https://www.instagram.com/codeimpact_bv" target="_blank">
                <i class="fab fa-instagram"></i>                                    <span>Instagram</span>
                            </a>
            <span></span></li>
                </ul>                
            </div>
            <!------ Newsletter ------>
            <div class="newsletter">
                <p class="title-list">Newsletter</p>
                <span class="subheader">Receive our newsletter about new <br> technologies and jobs in your area</p>              
            </div>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy statement</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </div>
    </div>
</footer>