<header class="main-header">
    <nav class="nav">
        <div class="nav__logo">
            <a href="#">
                <img src="img/logo2.svg" alt="">
            </a>
        </div>
        
        <div class="nav__menu" id="nav-menu">
            <div class="nav__lang">
                <ul>
                    <li><a class="active" href="javascript:void(0)">NL</a></li>
                    <li><span class="divider">|</span></li>
                    <li><a href="javascript:void(0)">EN</a></li>
                </ul>
            </div>
            <div class="nav__list">
                <ul>
                    <li><a class="active" href="\">Home</a></li>
                    <li><a href="javascript:void(0)">TEAM</a></li>
                    <li><a href="javascript:void(0)">JOBS</a></li>
                    <li><a href="javascript:void(0)">CONTACT</a></li>
                    <li><a href="services.html">SERVICES</a></li>
                    <li><a href="javascript:void(0)">PROJECTS</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>