html {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-white;
    font-size: 16px;
    font-family: $basic-family;
    font-weight: $font-regular;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    max-width: 1712px;
    margin: 0 auto;
}
