/*========== Colors ==========*/
$color-white: #ffffff;
$color-gray: #f9f9f9;
$color-accent: #e53467;
$color-accent-dark: #59001a;
$text-color: #202020;
$header-bg: #07072c;
// $body-bg: #f9f9f9;

/*========== Fonts ==========*/
$basic-family: "Poppins", sans-serif;

/*========== Font weight ==========*/
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/*========== Transition ==========*/
$transition: 0.4s ease-in-out;
