<section class="brands">
    <div class="brands__wrapper">
        <div class="swiper-container brands__list">
            <div class="swiper-wrapper">
                <div class="swiper-slide brands__item">
                    <img src="img/brands/firebase.png" alt=""></div>
                <div class="swiper-slide brands__item">
                    <img src="img/brands/nest.png" alt=""></div>
                <div class="swiper-slide brands__item">
                    <img src="img/brands/kafka.png" alt=""></div>
                <div class="swiper-slide brands__item">
                    <img src="img/brands/flutter.png" alt=""></div>
                <div class="swiper-slide brands__item">
                    <img src="img/brands/python.png" alt=""></div>
                <div class="swiper-slide brands__item">
                    <img src="img/brands/jenkins.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>