<section class="company">
    <div class="company__wrapper wrapper">
        <div class="company__title">
            <h3>Trust By Multinationals and Startups</h3>
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        </div>
        <div class="company__logo">
            <ul class="company__logo-list">
                <li><img src="img/company/kpmg.png" alt=""></li>
                <li><img src="img/company/jeugdzorg.png" alt=""></li>
                <li><img src="img/company/DutchAnalytics.png" alt=""></li>
                <li><img src="img/company/university.png" alt=""></li>
                <li><img src="img/company/vodafone.png" alt=""></li>
            </ul>
        </div>
    </div>
</section>