<section class="home">
    <div class="home__wrapper">
        <div class="home__slider">
            <div class="swiper-container home__slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide home__slider-item">
                        <h3>Mobile Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    </div>
                    <div class="swiper-slide home__slider-item">
                        <h3>Software Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    </div>
                    <div class="swiper-slide home__slider-item">
                        <h3>Manage Your Infa</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    </div>
                    <div class="swiper-slide home__slider-item">
                        <h3>Professional at Location</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    </div>
                    <div class="swiper-slide home__slider-item">
                        <h3>Professional at Location 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="home__data">
            <h1>Manage Your Infa</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit <br> voluptatem accusantium doloremque laudantium, <br> totam rem aperiam, eaque ipsa quae.</p>
            <div class="home__button">
                <a href="#">GET IN TOUCH</a>
            </div>
        </div>
    </div>
    <div class="circle-wrapper"></div>
</section>