<section class="industry">
    <div class="industry__wrapper mini-wrapper">
        <div class="industry__title">
            <h3>INDUSTRY</h3>
            <h2>With deep expertise across multiple key industries</h2>
        </div>
        <div class="industry__items">
            <div class="elearning industry__item">
                <img src="img/industry/e-learning.png" alt="">
                <div class="industry__item-title">E-Learning</div>
            </div>
            <div class="telecom industry__item">
                <img src="img/industry/telecom.png" alt="">
                <div class="industry__item-title">Telecom</div>
            </div>
            <div class="ecommerce industry__item">
                <img src="img/industry/ecommerce.png" alt="">
                <div class="industry__item-title">Ecommerce</div>
            </div>
            <div class="fintech industry__item">
                <img src="img/industry/fintech.png" alt="">
                <div class="industry__item-title">Fintech</div>
            </div>
            <div class="recruitment industry__item">
                <img src="img/industry/recruitment.png" alt="">
                <div class="industry__item-title">Recruitment</div>
            </div>
            <div class="gaming industry__item">
                <img src="img/industry/gaming.png" alt="">
                <div class="industry__item-title">Gaming</div>
            </div>
            <div class="helthcare industry__item">
                <img src="img/industry/healthcare.png" alt="">
                <div class="industry__item-title">Healthcare</div>
            </div>
        </div>
    </div>
</section>