<section class="overview">
    <div class="overview__wrapper wrapper">
        <div class="overview__info">
            <div class="overview__info-title">
                <h3>NEW TECH</h3>
                <h2>Web, App and Software Development Based on New Technology</h2>
            </div>
            <div class="overview__info-text">
                <p>Do you want to develop a website, a complete online store, app, or tool effectively, and are you looking for an experienced party that can help you in this? CodeImpact has qualified professionals who are in state-of-the-art technologies to give a powerful shape to your needs. <a href="#">Read more...</a></p>
                <a href="#" class="button">GET IN TOUCH</a>
            </div>
        </div>
        <div class="overview__slider">
            <div class="overview__slider-wrap">
                <div class="slider-wrap">
                    <div class="swiper-container overview__slider-wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-img">
                                    <img src="img/overview/over01.png" alt="">
                                    <div class="slide-text">
                                        <p>26 April 2021</p>
                                        <h4>Blog Posts Highlight 1</h4>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-img">
                                    <img src="img/overview/over01.png" alt="">
                                    <div class="slide-text">
                                        <p>26 September 2020</p>
                                        <h4>Blog Posts Highlight 2</h4>
                                        <p>Lorem ipsum dolor sit amet33</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>