<section class="overview">
    <div class="overview__wrapper wrapper">
        <div class="overview__info">
            <div class="overview__info-title">
                <h3>NEW TECH</h3>
                <h2>Web, App and Software Development Based <br> on New Technology</h2>
            </div>
            <div class="overview__info-text">
                <p>Do you want to develop a website, a complete online store, app, or tool effectively, and are you looking for an experienced party that can help you in this? CodeImpact has qualified professionals who are in state-of-the-art technologies to give a powerful shape to your needs. <a href="#">Read more...</a></p>
                <a href="#" class="button">GET IN TOUCH</a>
            </div>
        </div>
        <div class="overview__slider">
            <img src="img/overview/over01.png" alt="">
        </div>
    </div>
</section>