<section class="projects">
    <div class="projects__wrapper">
        <div class="projects__title">
            <div class="projects__title-wrap">
                <h3>Projects we are proud of</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Consectetur adipiscing elit, sed do eiusmod.</p>
                <div class="projects__title-btn">
                    <a href="#" class="button">View all projects</a>
                </div>
            </div>
        </div>
        <div class="projects__slider">
            <div class="slider-wrap">
                <div class="swiper-container projects__slider-wrap">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/projects/slides/01.png" alt="">
                            <div class="slide-text">
                                <h3>Projects</h3>
                                <h4>PBC Support</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/projects/slides/02.png" alt="">
                            <div class="slide-text">
                                <h3>Projects</h3>
                                <h4>PBC Support</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/projects/slides/01.png" alt="">
                            <div class="slide-text">
                                <h3>Projects</h3>
                                <h4>PBC Support</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/projects/slides/02.png" alt="">
                            <div class="slide-text">
                                <h3>Projects</h3>
                                <h4>PBC Support</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/projects/slides/01.png" alt="">
                            <div class="slide-text">
                                <h3>Projects</h3>
                                <h4>PBC Support</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>