<section class="specialties">
    <div class="heading-overlayer"></div>
    <div class="specialties__wrapper">
        <div class="specialties__item">
            <div class="specialties__img">
                <a href="#">
                    <img src="img/specialties/recruitmen.png" alt="">
                    <div class="text-img">
                        <h3>RECRUITMENT & SECONDMENT</h3>
                        <p>Worldwide we select the best <br> IT professionals to complete your team.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="specialties__item">
            <div class="specialties__img">
                <a href="#">
                    <img src="img/specialties/development.png" alt="">
                    <div class="text-img">
                        <h3>WEB, APP & SOFTWARE DEVELOPMENT</h3>
                        <p>It’s our passion to tackle your <br> IT challenge in one match.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="specialties__item">
            <div class="specialties__img">
                <a href="#">
                    <img src="img/specialties/dream.png" alt="">
                    <div class="text-img">
                        <h3>GET YOUR DREAM JOBS</h3>
                        <p>IT people are exceptional, and we understand <br> that, ready for the next project?</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>