/* --- Fonts --- */
$poppins: "Poppins", sans-serif;
/* --- Swiper Arrows --- */
:root {
    --swiper-navigation-size: 33px;
}

body {
    position: relative;
    min-width: 320px;
    color: #000000;
    font-family: $poppins;
}

.overflow-wrap {
    overflow: hidden;
}

* {
    outline: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

button {
    padding: 0;
    cursor: pointer;
}

input,
button,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
}
