@import "nullstyle";
@import "variables";

body {
    min-height: 100vh;
    min-width: 320px;
    font-family: $poppins;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
// Order Button
.order__wrapper {
    margin-top: 35px;
    margin-bottom: 20px;
}
.order__btn {
    margin-bottom: 19px;
    a {
        display: inline-block;
        text-transform: uppercase;
        background-color: #ff6401;
        color: #ffffff;
        border-radius: 32px;
        padding: 17px 75px 17px 78px;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 0.84px;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: #01c6b2;
        }
    }
}
.order__subtitle {
    padding-left: 14px;
    &-item {
        display: flex;
        align-items: center;
        p {
            margin-left: 11px;
            color: #ff6401;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: -0.39px;
            @media screen and (max-width: 760px) {
                font-weight: 400;
            }
        }
        &:first-of-type {
            margin-bottom: 3px;
        }
    }
}
// Top section
.top__intro {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        display: block;
        pointer-events: none;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/top-section/top-intro.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-top: 65px;
        padding-bottom: 53px;
        max-width: 1114px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 760px) {
            padding: 20px 35px 45px 35px;
        }
    }
    header {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        @media screen and (max-width: 760px) {
            text-align: center;
        }
    }
    .header__logo {
        display: inline-block;
    }
    &-description {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-top: 160px;
        @media screen and (max-width: 760px) {
            padding-bottom: 16px;
        }
    }
    h1 {
        color: #14401a;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: -0.9px;
        line-height: 1.2;
        @media screen and (max-width: 760px) {
            font-size: 35px;
        }
    }
    &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
            pointer-events: none;
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-description,
    &-img {
        @media screen and (max-width: 760px) {
            width: 100%;
        }
    }
}
// Brands logo section
.logo__brands {
    background-color: #ececec;
    &-list {
        max-width: 952px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-item {
        width: calc(100% / 4);
        padding: 16px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 760px) {
            width: calc(100% / 2);
        }
        @media screen and (max-width: 560px) {
            width: 100%;
        }
    }
}
// What is? section
.what__is {
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 110px;
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
        padding: 32px;
    }
    &-left-wrap {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        max-width: 622px;
        @media screen and (max-width: 992px) {
            padding-bottom: 40px;
        }
        h2 {
            color: #14401a;
            font-size: 52px;
            font-weight: 800;
            @media screen and (max-width: 760px) {
                color: #000000;
                font-size: 30px;
                font-weight: 400;
            }
        }
        p {
            font-size: 18px;
            &:first-of-type {
                font-size: 20px;
                font-weight: 600;
                padding-top: 10px;
                padding-bottom: 60px;
                @media screen and (max-width: 760px) {
                    padding-bottom: 30px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            @media screen and (max-width: 760px) {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .order__wrapper {
        grid-area: 2 / 1 / 3 / 2;
        @media screen and (max-width: 992px) {
            grid-area: 3 / 1 / 4 / 2;
        }
    }
    &-right {
        &-wrap {
            grid-area: 1 / 2 / 3 / 3;
            @media screen and (max-width: 992px) {
                grid-area: 2 / 1 / 3 / 2;
            }
        }
        &-picture {
            display: flex;
            align-content: center;
            justify-content: flex-end;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
                pointer-events: none;
            }
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            pointer-events: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-images {
            display: flex;
            flex-direction: column;
            padding-right: 11%;
            z-index: 3;
            img {
                max-width: 125px;
                margin-bottom: 12px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                @media screen and (max-width: 480px) {
                    max-width: 70px;
                    &:nth-child(3) {
                        order: -1;
                    }
                }
            }
        }
    }
}
// Results section
.results {
    padding: 0 158px 66px 158px;
    @media screen and (max-width: 760px) {
        padding: 0 30px 40px 30px;
    }
    &__list {
        max-width: 1018px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 302px 302px 302px;
        justify-content: space-between;
        row-gap: 47px;
        @media screen and (max-width: 760px) {
            grid-template-columns: 1fr;
            gap: 24px 0;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            padding-bottom: 23%;
            pointer-events: none;
        }
        span {
            max-width: 56px;
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            @media screen and (max-width: 760px) {
                max-width: 40px;
                top: inherit;
                right: inherit;
            }
        }
        p {
            padding-top: 11px;
            font-size: 20px;
            letter-spacing: 0.4px;
            @media screen and (max-width: 760px) {
                padding-top: 0;
                padding-left: 52px;
                font-size: 18px;
                letter-spacing: normal;
            }
        }
        @media screen and (max-width: 760px) {
            flex-direction: row;
            align-items: center;
            justify-content: left;
            text-align: left;
        }
    }
    &__notice {
        padding-top: 35px;
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.3px;
    }
}
// Reviews section
.reviews {
    background-color: #ffb635;
    &__wrapper {
        max-width: 1204px;
        margin: 0 auto;
        padding-bottom: 84px;
        position: relative;
    }
    &__head {
        padding-top: 85px;
        padding-bottom: 63px;
    }
    h2 {
        text-align: center;
        color: #33250b;
        font-size: 52px;
        font-weight: 800;
    }
    &__stars {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        color: #ffffff;
        span {
            display: block;
            width: 37px;
            height: 35px;
            margin-left: 5px;
            &:last-of-type {
                margin-left: 0;
            }
        }
    }
    &__clients {
        margin: 0 auto;
        max-width: 900px;
        padding-bottom: 48px;
    }
    &__content {
        text-align: center;
        p {
            font-size: 30px;
            font-weight: 600;
            font-style: italic;
        }
        div {
            padding-top: 30px;
            color: #1a1a1a;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.72px;
        }
    }
    .swiper-pagination-bullet-active {
        background: #000000;
    }
}
// Products section
.products {
    background-color: #ffb635;
    position: relative;
    z-index: 3;
    padding-bottom: 20px;
    &__list {
        max-width: 1204px;
        margin: 0 auto;
        background-color: #ffffff;
        box-shadow: 2px 4px 14px #0000001a;
        border-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 46px;
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        pointer-events: none;
        padding-top: 98px;
        background-color: #fff;
    }
}
.product-card {
    width: calc(100% / 3);
    padding: 10px;
    display: flex;
    .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .discount {
        max-width: 190px;
        margin: 0 auto;
        text-align: center;
        h4 {
            font-size: 43px;
            font-weight: 800;
        }
        p {
            font-size: 23px;
            font-weight: 700;
        }
    }
    .picture {
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            padding-bottom: 74.7%;
            pointer-events: none;
        }
    }
    .img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        flex: auto;
        margin: 0 auto;
        text-align: center;
    }
    .main {
        flex: auto;
    }
    .price {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 12px;
        &-offer {
            color: #39b54a;
            font-size: 22px;
            font-weight: 700;
        }
    }
    .order__btn {
        a {
            padding: 13px 85px 11px 80px;
            font-size: 16px;
            border-radius: 24px;
            letter-spacing: 0.65px;
        }
    }
}
.policy {
    &__wrap {
        max-width: 1204px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 42px;
        display: flex;
        align-items: center;
    }
    &__info {
        padding-left: 40px;
        h4 {
            font-size: 52px;
            font-weight: 700;
        }
        p {
            font-size: 21px;
        }
    }
}
