@import "nullstyle";
@import "variables";
@import "grid";

.top__intro {
    .wrapper {
        max-width: 1045px;
    }
}
.products {
    .wrapper {
        max-width: 1234px;
    }
}
.policy,
.interview {
    .wrapper {
        max-width: 1212px;
    }
}
// Top Intro Section
header {
    padding: 6.5% 0;
    position: relative;
    z-index: 2;
    a {
        display: block;
        max-width: 197px;
    }
}

.top__intro {
    background-image: url(../img/top-section/top-intro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .top__intro-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: calc(100vh - 170px);
        padding: 3.7% 0;
        .top__intro-description {
            width: 50%;
            .intro-title {
                h1 {
                    margin: 0;
                    color: #14401a;
                    font-size: 45px;
                    font-weight: 800;
                    letter-spacing: -0.9px;
                    line-height: 1.2;
                }
            }
            .order__wrapper {
                padding-top: 6.5%;
            }
        }
        .top__intro-img {
            width: 50%;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 53.8%;
                position: absolute;
                top: 7%;
                right: 0;
                bottom: 5.6%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: right bottom;
                }
            }
        }
    }
}

.order__wrapper {
    .order__btn {
        padding-bottom: 18px;
        a {
            display: inline-block;
            text-transform: uppercase;
            background-color: #ff6401;
            color: #ffffff;
            border-radius: 32px;
            padding: 20px 75px;
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 0.84px;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: #01c6b2;
            }
        }
    }
    .order__subtitle {
        padding-left: 13px;
        .order__subtitle-item {
            display: flex;
            align-items: center;
            padding-bottom: 11px;
            span {
                display: block;
                max-width: 34px;
                flex-shrink: 0;
                margin-right: 11px;
            }
            p {
                margin: 0;
                padding-top: 7px;
                color: #ff6401;
                font-size: 20px;
                font-weight: 800;
                letter-spacing: -0.39px;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
// Section title
// .section-title {
//     text-align: center;
//     font-size: 52px;
//     font-weight: 700;
//     line-height: 1.15;
//     @media screen and (max-width: 540px) {
//         font-size: 30px;
//     }
// }

// Brands logo section
.logo__brands {
    background-color: #ececec;
    padding-bottom: 12px;
    .logo__brands-list {
        display: flex;
        flex-wrap: wrap;
        padding: 12px 0;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 4);
            padding: 15px;
        }
    }
}
// What is? section
.what__is {
    .what__is-wrap {
        display: grid;
        grid-template-columns: 58% 42%;
        padding: 11% 0 6% 0;
    }
    .what__is-wrap-text {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        h2 {
            margin: 0;
            color: #14401a;
            font-size: 52px;
            font-weight: 800;
        }

        p {
            margin: 0;
            max-width: 582px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.89;
            b {
                font-weight: 600;
            }
            &:first-of-type {
                max-width: unset;
                font-size: 20px;
                line-height: 1.7;
                padding: 15px 0 20px 0;
            }
        }
    }
    .what__is-right-picture {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: block;
            margin: 0 -16% 0 -17%;
            padding-bottom: 4%;
        }
    }
    .order__wrapper {
        grid-area: 2 / 1 / 3 / 2;
        padding-top: 6.5%;
    }
}
// Results section
.results {
    .results__wrap {
        padding: 17px 0 6.3% 0;
    }
    .results__list {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 23px 10px;
            width: calc(100% / 3);
            span {
                display: block;
                max-width: 56px;
                padding-bottom: 9px;
            }
            p {
                margin: 0;
                font-size: 20px;
                letter-spacing: 0.4px;
                line-height: 1.39;
                text-align: center;
            }
        }
    }
    .results__notice {
        padding-top: 24px;

        p {
            margin: 0;
            font-size: 15px;
            letter-spacing: 0.3px;
            text-align: center;
        }
    }
}
// Reviews section
.reviews {
    background-color: #ffb635;
    .reviews__wrapper {
        padding: 8.3% 0 7.1% 0;
    }
    .reviews__head {
        padding-bottom: 63px;
        h2 {
            margin: 0;
            color: #33250b;
            font-size: 52px;
            font-weight: 800;
            text-align: center;
        }
        .reviews__stars {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 24px;
            span.star__icon {
                display: block;
                width: 37px;
                height: 37px;
                margin: 0 6px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNy4wNCIgaGVpZ2h0PSIzNS4yMjciIHZpZXdCb3g9IjAgMCAzNy4wNCAzNS4yMjciPgogIDxwYXRoIGlkPSLQmtC+0L3RgtGD0YBfNDg3IiBkYXRhLW5hbWU9ItCa0L7QvdGC0YPRgCA0ODciIGQ9Ik02MDUuOTY1LDQyMzMuNDg4bDUuNzIzLDExLjYsMTIuOCwxLjg1OS05LjI2LDkuMDI2LDIuMTg2LDEyLjc0NS0xMS40NDYtNi4wMTgtMTEuNDQ2LDYuMDE4LDIuMTg2LTEyLjc0NS05LjI2LTkuMDI2LDEyLjgtMS44NTlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTg3LjQ0NSAtNDIzMy40ODgpIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
    .reviews-slider {
        .reviews__clients {
            margin: 0 auto;
            max-width: 900px;
            padding-bottom: 48px;
        }
        .reviews__content {
            blockquote {
                margin: 0;
                padding: 0;
                .quote-text {
                    p {
                        margin: 0;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 1.55;
                        letter-spacing: normal;
                        text-align: center;
                    }
                }
                .quote-author {
                    padding-top: 30px;

                    p {
                        margin: 0;
                        color: #1a1a1a;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.72px;
                        text-align: center;
                    }
                }
            }
        }
        .reviews__slider-bullets {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 7px;
            display: flex;
            justify-content: center;
            span.bullet {
                display: block;
                width: 9px;
                height: 9px;
                margin: 0 4px;
                border-radius: 50%;
                background: #000000;
                opacity: 0.2;
                cursor: pointer;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    + .products {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 42.3%;
            z-index: -1;
            background-color: #ffb635;
            pointer-events: none;
        }
    }
}
// Products section
.products {
    position: relative;
    z-index: 2;
    .products-title {
        padding-bottom: 31px;
        h2 {
            margin: 0;
            text-align: center;
            font-size: 52px;
            font-weight: 700;
            line-height: 1.15;
        }
    }
    .products__list {
        display: flex;
        flex-wrap: wrap;
        padding: 2% 20px;
        border-radius: 40px;
        box-shadow: 2.2px 4.4px 14.3px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    .product-card {
        width: calc(100% / 3);
        display: flex;
        padding: 15px 2.7%;
        .wrap {
            width: 100%;
            display: flex;
            flex-direction: column;
            .bottom_info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: auto;
            }
        }
        .top_info {
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 20%;
                z-index: -1;
                border-radius: 14px;
                border: 4px solid transparent;
                pointer-events: none;
            }
        }
        .discount {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            align-items: center;
            .discount-wrap {
                padding: 19px 5px 10px 5px;
                text-align: center;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -4px;
                    border-bottom: 4px solid #35b1a2;
                }
                h4 {
                    margin: 0;
                    font-size: 43px;
                    font-weight: 800;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                p {
                    margin: 0;
                    font-size: 23px;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
        .picture {
            position: relative;
            overflow: hidden;
            z-index: 1;
            &::before {
                content: "";
                display: block;
                padding-bottom: 74.7%;
                pointer-events: none;
            }
            .discount-text {
                padding: 7px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 3;
                p {
                    margin: 0;
                    text-align: center;
                    font-size: 19px;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            .img {
                padding-top: 20px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .bottom_info {
            margin-top: -11px;
            position: relative;
            z-index: 2;
            .price {
                text-align: center;
                .discount-price {
                    p {
                        margin: 0;
                        padding: 0 12px;
                        display: inline-block;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.23;
                        position: relative;
                        &::before {
                            content: "";
                            border-bottom: 1px solid #ff0000;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            left: 0;
                            transform: rotate(-10deg);
                            pointer-events: none;
                        }
                    }
                }
                .original-price {
                    p {
                        margin: 0;
                        display: inline-block;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.23;
                    }
                }
                .price-offer {
                    padding-top: 4px;
                    p {
                        margin: 0;
                        font-size: 22px;
                        font-weight: 700;
                        color: #39b54a;
                    }
                }
            }
            .order__btn {
                padding-top: 15px;
                text-align: center;
                a {
                    display: inline-block;
                    width: 100%;
                    max-width: 270px;
                    text-transform: uppercase;
                    background-color: #ff6401;
                    color: #ffffff;
                    padding: 15px 30px;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 24px;
                    text-align: center;
                    letter-spacing: 0.65px;
                    transition: background-color 0.3s ease-in-out;
                    &:hover {
                        background-color: #01c6b2;
                    }
                }
            }
        }
        &.most-popular {
            .discount .discount-wrap::before {
                display: none;
            }
            .top_info::before {
                border-color: #ffb635;
            }
            .picture .discount-text {
                background-color: #ffb635;
                p {
                    color: #ffffff;
                }
            }
        }
        &.big-savings {
            .discount .discount-wrap::before {
                display: none;
            }
            .top_info::before {
                border-color: #39b54a;
            }
            .picture .discount-text {
                background-color: #39b54a;
                p {
                    color: #ffffff;
                }
            }
        }
    }
}
// Police section
.policy {
    .policy__wrap {
        display: flex;
        align-items: center;
        padding: 3.4% 0;
        .police__img {
            width: 100%;
            max-width: 235px;
        }
        .policy__info {
            padding-left: 40px;
            h2 {
                margin: 0;
                font-size: 52px;
                font-weight: 700;
                line-height: 1.15;
            }
            p {
                margin: 0;
                font-size: 21px;
                line-height: 1.4;
                padding-top: 14px;
            }
        }
    }
}
// Interview section
.interview {
    .interview-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5.6% 0 9.8% 0;
        .interview-text {
            width: 44%;
            padding: 2.2% 16px 0 16px;
            .interview-title {
                h4 {
                    margin: 0;
                    font-size: 52px;
                    font-weight: 700;
                    line-height: 1.15;
                }
            }
            .interview-link {
                padding-top: 18px;
                a {
                    display: inline-block;
                    color: #ff6401;
                    font-weight: 700;
                    font-size: 25px;
                    text-decoration: underline;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: #01c6b2;
                    }
                }
            }
        }
        .interview-video {
            width: calc(100% - 44%);
            padding-right: 2.7%;
            .video-wrap {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 79.8%;
                    pointer-events: none;
                }
                span {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                button.play {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95px;
                    height: 95px;
                    padding: 10px 10px 10px 13px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NSIgaGVpZ2h0PSI5NSIgdmlld0JveD0iMCAwIDk1IDk1Ij4KICA8cGF0aCBpZD0i0JrQvtC90YLRg9GAXzQ4NiIgZGF0YS1uYW1lPSLQmtC+0L3RgtGD0YAgNDg2IiBkPSJNOTU5LjA3Miw1ODQ1LjQ2M2wtMjIuNCwxNC45YTIuODkzLDIuODkzLDAsMCwxLTQuNS0yLjR2LTI5LjhhMi44OTIsMi44OTIsMCwwLDEsNC41LTIuNGwyMi40LDE0LjlhMi44OTIsMi44OTIsMCwwLDEsMCw0LjhabS0xNS4zLTQ5LjlhNDcuNSw0Ny41LDAsMSwwLDQ3LjUsNDcuNUE0Ny41NDQsNDcuNTQ0LDAsMCwwLDk0My43NzEsNTc5NS41NjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODk2LjI3MSAtNTc5NS41NjUpIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-color: transparent;
                    border: none;
                }
                iframe {
                    width: 100% !important;
                    height: 100% !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                }
            }
        }
    }
}
// Component section
.component {
    .component-bg {
        padding-bottom: 53px;
        background-image: url(../img/component-section/component-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .component-title {
        padding: 6.7% 0;
        position: relative;
        z-index: 2;
        h2 {
            margin: 0;
            font-size: 52px;
            font-weight: 700;
            line-height: 1.15;
            color: #ffffff;
            text-align: center;
        }
        h3 {
            margin: 0;
            margin-bottom: 8px;
            font-size: 30px;
            font-weight: 500;
            color: #ffffff;
            text-align: center;
        }
    }
    .component-slider__wrap {
        padding-bottom: 8%;
    }
    .component-slider {
        margin-top: -9%;
        position: relative;
        z-index: 2;
        .slider-wrap {
            max-width: 695px;
            margin: 0 auto;
            .thumbs-slider {
                position: relative;
                z-index: 1;
                .slide-img {
                    max-width: 420px;
                    margin: 0 auto;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        padding-bottom: 54.3%;
                        pointer-events: none;
                    }
                    .img-wrap {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
            .main-slider {
                margin-top: -5%;
                padding-bottom: 49px;
                position: relative;
                z-index: 2;
                &::before,
                &::after {
                    content: "";
                    width: 35px;
                    background-color: #ffffff;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 5;
                    pointer-events: none;
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
                .swiper-slide {
                    padding: 0 40px;
                }
                .slide-text {
                    max-width: 500px;
                    margin: 0 auto;
                    padding: 0 15px;
                    h4 {
                        margin: 0;
                        font-size: 25px;
                        font-weight: 700;
                        line-height: 1.4;
                        text-align: center;
                    }
                    p {
                        margin: 0;
                        padding-top: 10px;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1.4;
                        letter-spacing: 0.4px;
                        text-align: center;
                    }
                }
                .component__slider-button {
                    width: 32px;
                    height: 32px;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS41OTciIGhlaWdodD0iMzQuMDI4IiB2aWV3Qm94PSIwIDAgMTUuNTk3IDM0LjAyOCI+CiAgPHBhdGggaWQ9ItCa0L7QvdGC0YPRgF80OTIiIGRhdGEtbmFtZT0i0JrQvtC90YLRg9GAIDQ5MiIgZD0iTTEwMjQuMDczLDY2NjcuNGwxMS41MDctMTUuODM4LTExLjUwNy0xNS44MzgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMDIyLjQ1NSAtNjYzNC41NDYpIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0Ii8+Cjwvc3ZnPgo=);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: absolute;
                    top: calc(42% - 16px);
                    cursor: pointer;
                    z-index: 10;
                    &.next {
                        right: 0;
                    }
                    &.prev {
                        left: 0;
                        transform: rotate(180deg);
                    }
                }
                .component__slider-bullets {
                    padding: 0 35px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    span.bullet {
                        display: block;
                        width: 9px;
                        height: 9px;
                        margin: 0 4px;
                        border-radius: 50%;
                        background: #000000;
                        opacity: 0.2;
                        cursor: pointer;
                        &.active {
                            opacity: 1;
                            background: #5dc098;
                        }
                    }
                }
            }
        }
    }
}
// FAQ Section
.faq {
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: -102px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        pointer-events: none;
        background-color: #f2f2f2;
    }
    .faq__wrap {
        padding: 4.3% 0 13% 0;
        .faq__title {
            h2 {
                margin: 0;
                font-size: 52px;
                font-weight: 700;
                line-height: 1.15;
                text-align: center;
            }
        }
        .faq__accordion {
            max-width: 701px;
            margin: 0 auto;
            padding-top: 3.5%;
            ul {
                li {
                    padding: 26px 0;

                    border-bottom: 1px solid #e6e6e6;
                    .accordion_title {
                        padding-left: 44px;
                        position: relative;
                        cursor: pointer;
                        h3 {
                            margin: 0;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1.25;
                            letter-spacing: 0.4px;
                        }
                        &::before {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 18px;
                            position: absolute;
                            top: 5px;
                            left: 16px;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS41OTciIGhlaWdodD0iMzQuMDI4IiB2aWV3Qm94PSIwIDAgMTUuNTk3IDM0LjAyOCI+CiAgPHBhdGggaWQ9ItCa0L7QvdGC0YPRgF80OTIiIGRhdGEtbmFtZT0i0JrQvtC90YLRg9GAIDQ5MiIgZD0iTTEwMjQuMDczLDY2NjcuNGwxMS41MDctMTUuODM4LTExLjUwNy0xNS44MzgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMDIyLjQ1NSAtNjYzNC41NDYpIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0Ii8+Cjwvc3ZnPgo=);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            transform: rotate(-90deg);
                            transition: transform 0.3s ease-in-out;
                        }
                        &.active {
                            &::before {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .accordion_text {
                        display: none;
                        padding: 8px 0 0 10px;

                        p {
                            margin: 0;
                            font-size: 20px;
                            color: #333333;
                            line-height: 1.7;
                            letter-spacing: 0.4px;
                        }
                    }
                }
            }
        }
    }
}

// ------------------
// Media queries
// ------------------
@media screen and (max-width: 1360px) {
    .wrapper {
        max-width: 1045px;
    }
    .top__intro {
        .wrapper {
            max-width: 881px;
        }
    }
    .products {
        .wrapper {
            max-width: 1064px;
        }
    }
    .policy {
        .wrapper {
            max-width: 1045px;
        }
    }
    .interview {
        .wrapper {
            max-width: 1016px;
        }
    }
    // Header
    header {
        padding: 6.7% 0 2.8% 0;
        a {
            max-width: 167px;
        }
    }
    // Top Intro Section
    .top__intro {
        .top__intro-wrapper {
            padding: 7.6% 0 16.8% 0;
            .top__intro-description {
                width: 45%;
                .intro-title {
                    h1 {
                        font-size: 39px;
                    }
                }
                .order__wrapper {
                    padding-top: 8%;
                    .order__btn {
                        padding-bottom: 15px;
                        a {
                            padding: 17px 65px;
                            font-size: 18px;
                        }
                    }
                    .order__subtitle {
                        padding-left: 10px;
                        .order__subtitle-item {
                            padding-bottom: 8px;
                            span {
                                max-width: 28px;
                            }
                            p {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
            .top__intro-img {
                width: 55%;
                span {
                    width: 54.8%;
                    right: -20px;
                    bottom: 5.2%;
                }
            }
        }
    }
    // Brands Section
    .logo__brands {
        padding-bottom: 0;
        .logo__brands-list {
            padding: 5px 60px 0px 60px;
        }
    }
    // What Is Section
    .what__is {
        .what__is-wrap {
            padding: 10.2% 0 4.5% 4.7%;
        }
        .what__is-wrap-text {
            h2 {
                font-size: 45px;
            }
            p {
                font-size: 16px;
                &:first-of-type {
                    padding: 12px 0 14px 0;
                    font-size: 18px;
                    line-height: 1.65;
                }
            }
        }
        .order__wrapper {
            padding-top: 6%;
            .order__btn {
                padding-bottom: 15px;
                a {
                    padding: 17px 65px;
                    font-size: 18px;
                }
            }
            .order__subtitle {
                padding-left: 16px;
                .order__subtitle-item {
                    padding-bottom: 8px;
                    span {
                        max-width: 28px;
                    }
                    p {
                        padding-top: 4px;
                        font-size: 17px;
                    }
                }
            }
        }
        .what__is-right-picture {
            span {
                margin: -4% -9% 0% -21%;
            }
        }
    }
    // Results Section
    .results {
        .results__wrap {
            padding: 19px 25px 5.7% 38px;
        }
        .results__list {
            li {
                padding: 20px 10px 23px 10px;
                span {
                    max-width: 48px;
                    padding-bottom: 7px;
                }
                p {
                    font-size: 18px;
                    line-height: 1.3;
                }
            }
        }
        .results__notice {
            padding-top: 17px;
            p {
                font-size: 14px;
            }
        }
    }
    // Reviews Section
    .reviews {
        .reviews__wrapper {
            padding: 7.6% 0 6.2% 0;
        }
        .reviews__head {
            padding-bottom: 55px;
            h2 {
                font-size: 44px;
                letter-spacing: 0.5px;
            }
            .reviews__stars {
                padding-top: 18px;
                span.star__icon {
                    width: 34px;
                    height: 34px;
                    margin: 0 4px;
                }
            }
        }
        .reviews-slider {
            .reviews__content {
                blockquote {
                    .quote-text {
                        p {
                            font-size: 25px;
                            line-height: 1.57;
                        }
                    }
                    .quote-author {
                        padding-top: 28px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
            .reviews__clients {
                padding-bottom: 40px;
            }
        }
    }
    // Products Section
    .products {
        .products-title {
            padding-bottom: 26px;
            h2 {
                font-size: 45px;
            }
        }
        .product-card {
            .discount {
                .discount-wrap {
                    padding: 18px 5px 7px 5px;
                    h4 {
                        font-size: 36px;
                    }
                    p {
                        font-size: 21px;
                    }
                }
            }
            .picture {
                .discount-text {
                    padding: 5px;
                    p {
                        font-size: 15px;
                    }
                }
            }
            .bottom_info {
                .price {
                    .discount-price {
                        p {
                            font-size: 18px;
                        }
                    }
                    .original-price {
                        p {
                            font-size: 21px;
                        }
                    }
                    .price-offer {
                        p {
                            font-size: 19px;
                        }
                    }
                }
                .order__btn {
                    padding-top: 13px;
                    a {
                        width: auto;
                        font-size: 14px;
                        padding: 12px 70px;
                    }
                }
            }
        }
    }
    // Policy Section
    .policy {
        .policy__wrap {
            padding: 3.8% 0 3.4% 1%;
            .police__img {
                max-width: 200px;
            }
            .policy__info {
                padding-left: 34px;
                h2 {
                    font-size: 45px;
                }
                p {
                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }
    }
    // Interview Section
    .interview {
        .interview-wrap {
            padding: 5.6% 0 10.1% 0;
            .interview-text {
                padding: 1.2% 16px 0 8px;
                .interview-title {
                    h4 {
                        font-size: 45px;
                    }
                }
                .interview-link {
                    padding-top: 12px;
                    a {
                        font-size: 21px;
                    }
                }
            }
            .interview-video {
                padding: 0 5px 0 7px;
                .video-wrap {
                    &::before {
                        padding-bottom: 79.8%;
                    }
                    button.play {
                        width: 82px;
                        height: 82px;
                    }
                }
            }
        }
    }
    // Component Section
    .component {
        .component-title {
            padding: 6.2% 0 5.3% 0;
            h3 {
                font-size: 25px;
                letter-spacing: 0.3px;
            }
            h2 {
                font-size: 44px;
                letter-spacing: 0.3px;
            }
        }
        .component-slider {
            .slider-wrap {
                max-width: 596px;
                .thumbs-slider {
                    .slide-img {
                        max-width: 375px;
                        margin: 0 auto;
                        position: relative;
                    }
                }
                .main-slider {
                    padding-bottom: 40px;
                    margin-top: -6.7%;
                    .slide-text {
                        h4 {
                            font-size: 21px;
                        }
                        p {
                            padding-top: 8px;
                            font-size: 18px;
                        }
                    }
                    .component__slider-bullets {
                        span.bullet {
                            width: 7px;
                            height: 7px;
                        }
                    }
                    .component__slider-button {
                        top: calc(42% - 13px);
                    }
                }
            }
        }
        .component-slider__wrap {
            padding-bottom: 7.5%;
        }
    }
    // FAQ Section
    .faq {
        .faq__wrap {
            padding: 4% 0 13% 0;
            .faq__title {
                h2 {
                    font-size: 45px;
                }
            }
            .faq__accordion {
                padding-top: 2.6%;
                max-width: 602px;
                ul {
                    li {
                        padding: 25px 0 18px 0;
                        .accordion_title {
                            padding-left: 40px;
                            h3 {
                                font-size: 18px;
                                letter-spacing: -0.1px;
                                line-height: 1.1;
                            }
                        }
                        .accordion_text {
                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .top__intro {
        .wrapper {
            max-width: 760px;
        }
    }
    .top__intro {
        .top__intro-wrapper {
            padding: 11.6% 0 16.8% 0;
            .top__intro-description {
                width: 42%;
                .intro-title {
                    h1 {
                        font-size: 35px;
                    }
                }
                .order__wrapper {
                    padding-top: 8%;
                    .order__btn {
                        a {
                            padding: 14px 55px;
                            font-size: 16px;
                        }
                    }
                }
            }
            .top__intro-img {
                width: 58%;
                span {
                    width: 57%;
                    right: 0;
                    bottom: 15%;
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .top__intro {
        .wrapper {
            max-width: 720px;
        }
    }
    // Header
    .top__intro {
        .top__intro-wrapper {
            .top__intro-description {
                width: 40%;
                .intro-title {
                    h1 {
                        font-size: 30px;
                    }
                }
                .order__wrapper {
                    padding-top: 10%;
                    .order__btn {
                        a {
                            padding: 14px 48px;
                            font-size: 15px;
                        }
                    }
                }
            }
            .top__intro-img {
                width: 60%;
                span {
                    width: 60%;
                    bottom: 12%;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 640px) {
    .top__intro {
        .wrapper {
            max-width: 301px;
        }
    }
    .what__is {
        .wrapper {
            max-width: 340px;
        }
    }
    // =========================
    header {
        padding: 7.7% 0 11.8% 0;
        a {
            max-width: 118px;
            margin: 0 auto;
        }
    }
    // Top Intro Section
    .top__intro {
        .top__intro-wrapper {
            flex-direction: column;
            margin: 0 -15px;
            padding: 10.6% 0 22.8% 0;

            .top__intro-description {
                width: 100%;
                .intro-title {
                    h1 {
                        font-size: 35px;
                        letter-spacing: -0.7px;
                    }
                }
                .order__wrapper {
                    padding-top: 9%;
                    .order__btn {
                        padding-bottom: 19px;
                        a {
                            padding: 19px 67px;
                            font-size: 24px;
                            line-height: 1.05;
                            letter-spacing: 0.96px;
                        }
                    }
                    .order__subtitle {
                        padding-left: 13px;
                        .order__subtitle-item {
                            padding-bottom: 10px;
                            span {
                                max-width: 34px;
                                margin-right: 9px;
                            }
                            p {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .top__intro-img {
                width: 100%;
                span {
                    position: relative;
                    width: 123%;
                    bottom: -10px;
                    right: 32px;
                }
            }
        }
    }
    // Brands Section
    .logo__brands {
        .logo__brands-list {
            li {
                width: calc(100% / 2);
                padding: 15px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .products {
        .wrapper {
            max-width: 328px;
            padding: 0;
        }
    }
    .policy .wrapper,
    .component .wrapper {
        max-width: 352px;
    }
    // Brands Section
    .logo__brands {
        padding-bottom: 0;
        .logo__brands-list {
            padding: 28px 0;
            li {
                padding: 10px 30px;
            }
        }
    }
    // What Is Section
    .what__is {
        .what__is-wrap {
            grid-template-columns: 1fr;
            padding: 12.8% 0 6% 0;
        }
        .what__is-wrap-text {
            h2 {
                color: #000000;
                font-size: 30px;
                letter-spacing: -0.2px;
            }
            p {
                font-size: 15px;
                line-height: 1.6;
                &:first-of-type {
                    padding: 15px 0 10px 0;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .what__is-right-picture {
            grid-area: 2 / 1 / 3 / 2;
            span {
                margin: -3% -6% 0 -17%;
                padding-bottom: 0;
            }
        }
        .order__wrapper {
            grid-area: 3 / 1 / 4 / 2;
            padding-top: 5.3%;
            .order__btn {
                padding-left: 2%;
                a {
                    padding: 20px 64px;
                    line-height: 1.05;
                    letter-spacing: 3.5px;
                }
            }
            .order__subtitle {
                .order__subtitle-item {
                    span {
                        margin-right: 9px;
                    }
                    p {
                        padding-top: 4px;
                    }
                }
            }
        }
    }
    // Results Section
    .results {
        .results__wrap {
            padding: 16% 0 11.5% 0;
        }
        .results__list {
            flex-direction: column;
            li {
                width: 100%;
                flex-direction: row;
                padding: 14px 12px 11px 14px;
                span {
                    min-width: 41px;
                    max-width: 41px;
                    margin-right: 16px;
                    padding-bottom: 0;
                }
                p {
                    font-size: 18px;
                    letter-spacing: normal;
                    line-height: 1.41;
                    text-align: left;
                }
            }
        }
        .results__notice {
            padding-top: 5px;
            p {
                font-size: 12px;
                letter-spacing: 0.24px;
            }
        }
    }
    // Reviews Section
    .reviews {
        .reviews__wrapper {
            padding: 8.2% 0 19.3% 0;
        }
        .reviews__head {
            padding-bottom: 33px;
            h2 {
                font-size: 30px;
                line-height: 1.22;
            }
            .reviews__stars {
                padding-top: 14px;
            }
        }
        .reviews-slider {
            .reviews__content {
                blockquote {
                    .quote-text {
                        p {
                            font-size: 20px;
                        }
                    }
                    .quote-author {
                        padding-top: 25px;
                        p {
                            font-size: 15px;
                            letter-spacing: 0.6px;
                        }
                    }
                }
            }
        }
        + .products {
            &::before {
                bottom: 87%;
            }
        }
    }
    // Products Section
    .products {
        .products__list {
            padding: 0;
            background-color: transparent;
            box-shadow: none;
        }
        .products-title {
            padding-bottom: 37px;
            h2 {
                font-size: 30px;
            }
        }
        .product-card {
            width: 100%;
            padding: 0;
            margin-bottom: 17px;
            border-radius: 16px;
            box-shadow: 1.1px 2.1px 7px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            .top_info {
                &::before {
                    bottom: -47.5%;
                }
            }
            .discount {
                .discount-wrap {
                    padding: 21px 5px 10px 5px;
                    p {
                        line-height: 1.3;
                    }
                    &::before {
                        bottom: 2px;
                    }
                }
            }
            .picture {
                &::before {
                    padding-bottom: 53.7%;
                }
                .img {
                    padding: 5px 21px 0 21px;
                    &::before {
                        content: "";
                        display: block;
                        width: calc(100% - 42px);
                        height: 110px;
                        position: absolute;
                        top: 51%;
                        transform: translateY(-50%);
                        background-color: #f2f2f2;
                        z-index: -1;
                        pointer-events: none;
                    }
                    img {
                        position: relative;
                        z-index: 3;
                    }
                }
            }
            .bottom_info {
                .price {
                    .discount-price {
                        p {
                            font-size: 16px;
                            line-height: 1.2;
                        }
                    }
                    .original-price {
                        p {
                            font-size: 18px;
                            line-height: 1.2;
                        }
                    }
                }
                .order__btn {
                    padding: 8px 0 32px 0;
                    a {
                        width: auto;
                        padding: 10px 55px;
                    }
                }
            }
            &.most-popular {
                .discount {
                    .discount-wrap {
                        padding: 23px 5px 6px 5px;
                    }
                }
            }
        }
    }
    // Policy Section
    .policy {
        .policy__wrap {
            flex-direction: column;
            .police__img {
                max-width: 158px;
            }
            .policy__info {
                padding-left: 0;
                text-align: center;
                h2 {
                    font-size: 30px;
                }
                p {
                    padding-top: 8px;
                    font-size: 15px;
                    line-height: 1.6;
                }
            }
        }
    }
    // interview Section
    .interview {
        .interview-wrap {
            flex-direction: column;
            padding: 8.7% 0 28.3% 0;
            .interview-text {
                width: 100%;
                padding: 2.2% 0 6% 0;
                text-align: center;
                .interview-title {
                    h4 {
                        font-size: 30px;
                    }
                }
                .interview-link {
                    padding-top: 8px;
                    a {
                        font-size: 20px;
                    }
                }
            }
            .interview-video {
                width: 100%;
                padding: 0 2%;
            }
        }
    }
    // Component Section
    .component {
        .component-bg {
            padding-bottom: 7%;
        }
        .component-title {
            padding: 15% 0 16.5% 0;
            h3 {
                font-size: 18px;
            }
            h2 {
                font-size: 30px;
            }
        }
        .component-slider__wrap {
            padding-bottom: 21%;
        }
    }
    // FAQ Section
    .faq {
        .faq__wrap {
            padding: 24.5% 0 22% 0;
            .faq__title {
                h2 {
                    font-size: 30px;
                }
            }
            .faq__accordion {
                padding-top: 12.5%;
                ul {
                    li {
                        padding: 10px 0;
                        .accordion_title {
                            padding-left: 26px;
                            h3 {
                                font-size: 16px;
                                line-height: 1.42;
                            }
                            &::before {
                                top: 1px;
                                left: 5px;
                            }
                        }
                        .accordion_text {
                            padding: 3px 0 0 6px;
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
