.home {
    background: url("../img/home/home-bg.png") no-repeat center center/cover;
    color: $color-white;
    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}
