.home {
    background: url("../img/home/home-bg.png") no-repeat / cover;
    color: $color-white;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #000032 0%, #00004b 100%);
        opacity: 0.4;
        z-index: -1;
    }
    .circle-wrapper {
        flex: 1 0 100%;
        height: 14rem;
        overflow: hidden;
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: 0;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &::before {
            box-shadow: 0 300px 0 300px rgba($color-accent, 0.4);
            z-index: 1;
            top: -160%;
            left: -3%;
            right: -3%;
            width: auto;
            height: 250%;
        }
        &::after {
            bottom: 5%;
            box-shadow: 0 300px 0 300px hsla(0deg, 0%, 100%, 0.4);
            z-index: 2;
            top: -110%;
            left: -10%;
            right: -10%;
            width: auto;
            height: 200%;
        }
    }
}
.home__wrapper {
    height: 100vh;
    // padding: 2% 230px 0 120px;
    padding: 8% 11.6% 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    // @media (max-width: 1367px) {
    //     padding: 2% 120px 0;
    // }
}
.home__slider,
.home__data {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.home__slider {
    max-width: 370px;
    height: 50%;
    margin: 0;
    justify-content: center;
    position: relative;
    @media (max-width: 1367px) {
        height: 70%;
    }
}
.home__slider-container {
    max-height: calc(100% - 60px);
    position: initial;
    @media (max-width: 1367px) {
        max-height: 100%;
    }
    .home__slider-item {
        height: 125px !important;
        width: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 5px solid transparent;
        @media (max-width: 1367px) {
            height: 105px !important;
        }
        h3 {
            font-size: 24px;
            font-weight: $font-bold;
            @media (max-width: 1367px) {
                font-size: 20px;
            }
        }
        p {
            padding-top: 2px;
            font-size: 18px;
            @media (max-width: 1367px) {
                font-size: 16px;
            }
        }
    }
    .swiper-slide-active {
        padding: 0 34px;
        background-color: rgba(0, 0, 75, 0.4);
        border-radius: 4px;
        border-left-color: $color-accent;
        transition: all $transition;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 27px;
        height: 17px;
        color: $color-white;
        left: 108px;
        transform: rotate(90deg);
        &::after {
            font-size: 27px;
        }
    }
    .swiper-button-prev {
        top: 0;
    }
    .swiper-button-next {
        bottom: -27px;
        top: auto;
    }
}
.home__data {
    h1 {
        font-size: 62px;
        margin: 0;
        @media (max-width: 1367px) {
            font-size: 42px;
        }
    }
    p {
        padding: 24px 0 46px 0;
        font-size: 20px;
        @media (max-width: 1367px) {
            padding: 20px 0;
        }
    }
    .home__button {
        a {
            display: inline-block;
            padding: 18px 45px;
            background-color: $color-accent;
            color: $color-white;
            font-size: 18px;
            font-weight: $font-bold;
            box-shadow: 0px 0px 45px 12px $color-accent-dark;
            border-radius: 5px;
            letter-spacing: 0.05em;
            transition: background $transition;
            &:hover {
                background-color: darken($color: $color-accent, $amount: 5%);
            }
            @media (max-width: 1367px) {
                padding: 16px 41px;
            }
        }
    }
}
